html {
  body {
    .container {
      width: 838px;
    }

    header {
      background: linear-gradient(to right, #57d7f0, #4b86ff);

      #section-triangle {
        width: 0;
      	height: 0;
      	border-bottom: 100px solid #fff;
      }
    }

    #team-section {
      img {
        width: 50px;
      }
    }
  }
}
