html {
  body {
    .container {
      width: 838px;
    }

    header {
      background: linear-gradient(to right, #57d7f0, #4b86ff);
      color: #fff;

      #grid {
        background-color: transparent;
        background-image: linear-gradient(0deg, transparent 14%, rgba(255, 255, 255, .15) 15%, rgba(255, 255, 255, .15) 16%, transparent 17%, transparent 64%, rgba(255, 255, 255, .15) 65%, rgba(255, 255, 255, .15) 66%, transparent 67%, transparent), linear-gradient(90deg, transparent 14%, rgba(255, 255, 255, .15) 15%, rgba(255, 255, 255, .15) 16%, transparent 17%, transparent 64%, rgba(255, 255, 255, .15) 65%, rgba(255, 255, 255, .15) 66%, transparent 67%, transparent);
        background-size:40px 40px;
      }

      .logo {
        margin-top: 55px;
        float: right;
      }

      h1 {
        font-size: 55px;
        margin-top: 55px;
        margin-bottom: 0px;
      }

      p {
        font-size: 18px;
        margin-top: 2px;
      }

      #section-triangle {
        width: 0;
      	height: 0;
      	border-bottom: 150px solid #fff;
      }
    }

    h2 {
      font-size: 50px;
      color: #4b86ff;
      border-bottom: 1px solid #4b86ff;
      line-height: 0.1em;
      height: 0;

      div {
        background-color: #fff;
        display: inline;
        padding-right: 20px;
      }
    }

    #about-section {
      h2 {
        div {
          background-color: #fff;
        }
      }
    }

    #values-section {
      background-color: #f7f9ff;

      #section-triangle2 {
        width: 0;
      	height: 0;
      	border-bottom: 150px solid #f7f9ff;
      }

      h2 {
        div {
          background-color: #f7f9ff;
        }
      }
    }

    #team-section {
      background-color: #fff;

      h2 {
        div {
          background-color: #fff;
        }
      }

      img {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
      }

      p {
        text-align: center;

        &.name {
          margin-bottom: 0;
        }

        &.title {
          margin-top: 0;
        }
      }
    }

    #contact-section {
      background-color: #f7f9ff;

      h2 {
        div {
          background-color: #f7f9ff;
        }
      }

      #section-triangle3 {
        width: 0;
      	height: 0;
      	border-bottom: 150px solid #f7f9ff;
      }
    }
  }
}
