<header>
  <div class="container container-lg">
    <ul class="navigation-bar">
      <li class="navigation-section logo-link">
        <a [routerLink]="['']">
          <img class="logo-small u-margin-right-15" src="assets/logos/bp_small_white_2x.png"/>
          <div class="logo-text-small">
            <h1>Blueprint</h1>
          </div>
        </a>
      </li> 
      <li class="navigation-section primary">
        <a class="nav-link" [routerLink]="['/projects']"><h2>Projects</h2></a>
        <a class="nav-link" [routerLink]="['/nonprofits']"><h2>Nonprofits</h2></a>
        <a class="nav-link" [routerLink]="['/students']"><h2>Students</h2></a>
        <a class="nav-link" [routerLink]="['/team']"><h2>Team</h2></a>
      </li>
    </ul> 
  </div>
  <div class="container container-lg u-margin-top-30">
     <div class="logo-text">
        <h1>projects</h1>
        <div class="u-margin-bottom-30">All of Blueprint's work is open source because we believe in building technology that makes us more open and connected.</div>
        <div>
          <a class="button-secondary uppercase" href="https://github.com/uwblueprint">View Blueprint Github</a>
        </div>
     </div>
  </div>
  <div id="section-triangle"></div>
</header>

<section id="in-progress-section">
  <div class="container">
    <div class="u-margin-bottom-30">
      <div class="u-margin-bottom-20">
        <h1>in progress</h1>
      </div>
      <div class="u-margin-bottom-20">
        <h2 class="uppercase">The Somo Project</h2>
      </div>
      <div>The Somo Project is a nonprofit organization working to provide entrepreneurs in Kenya with the business resources, mentorship, and grants they need to accelerate businesses in their communities.</div>
    </div>
  </div>
</section>
