<header>
  <header-nav class="u-display-block"></header-nav>
  <div class="container container-lg u-margin-top-30">
     <div class="logo-text">
        <h1>projects</h1>
        <div class="u-margin-bottom-30">All of Blueprint's work is open source because we believe in building technology that makes us more open and connected.</div>
        <div>
          <a class="button-secondary uppercase" href="https://github.com/uwblueprint">View Blueprint Github</a>
        </div>
     </div>
  </div>
  <div id="section-triangle"></div>
</header>

<section id="in-progress-section">
  <div class="container">
    <div class="u-margin-bottom-30">
      <div class="u-margin-bottom-20">
        <h1>in progress</h1>
      </div>
      <div class="u-margin-bottom-20">
        <h2 class="uppercase">The Somo Project</h2>
      </div>
      <div>The Somo Project is a nonprofit organization working to provide entrepreneurs in Kenya with the business resources, mentorship, and grants they need to accelerate businesses in their communities.</div>
    </div>
  </div>
</section>
