<div class="container container-lg">
  <ul class="navigation-bar">
    <li *ngIf="!isLandingView"
        class="navigation-section logo-link">
      <a [routerLink]="['']">
        <img class="logo-small u-margin-right-15" src="assets/logos/bp_small_white_2x.png" />
        <div class="logo-text-small">
          <h1>Blueprint</h1>
        </div>
      </a>
    </li>
    <li class="navigation-section primary">
      <a class="nav-link" [routerLink]="['/projects']">
        <h2>Projects</h2>
      </a>
      <a class="nav-link" [routerLink]="['/nonprofits']">
        <h2>Nonprofits</h2>
      </a>
      <a class="nav-link" [routerLink]="['/students']">
        <h2>Students</h2>
      </a>
      <a class="nav-link" [routerLink]="['/team']">
        <h2>Team</h2>
      </a>
    </li>
  </ul>
</div>