<header>
	<div id="grid">
		<div class="container">
			<div class="col-md-2">
				<img src="assets/logos/header_logo.png" class="logo" />
			</div>
			<h1>uw blueprint</h1>
			<p>Tech for non-profits, built by uWaterloo students</p>
		</div>
		<div id="section-triangle"></div>
	</div>
</header>

<section id="about-section">
	<div class="container">
		<h2>
			<div class="horizontal-line">about</div>
		</h2>
		<div class="col-md-5 col-sm-5 col-xs-11">
			<img src="assets/logos/uw_logo.png" />
		</div>
		<div class="col-md-7 col-sm-7 col-xs-12">
			<p>UW Blueprint is a group of students at the University of Waterloo dedicated to building technology for social good. We
				partner with non-profits to provide technology services such as websites, mobile applications, analysis tools&mdash;free
				of charge.</p>
			<p>Blueprint was founded in 2013 at UC Berkeley. The University of Waterloo is Blueprint's first chapter outside of Berkeley.</p>
		</div>
	</div>
</section>

<section id="values-section">
	<div id="section-triangle2"></div>

	<div class="container">
		<h2>
			<div class="horizontal-line">values</div>
		</h2>

		<div class="col-md-6 col-sm-6">
			<img class="value-icon" src="assets/icons/good.png" />
			<h3>do good for good</h3>
			<p>
				Projects are chosen to help social causes where technology as a solution makes sense.
			</p>
		</div>

		<div class="col-md-6 col-sm-6">
			<img class="value-icon" src="assets/icons/learning.png" />
			<h3>learning is a team sport</h3>
			<p>
				Blueprint supports students to learn from each other, and hone in on their technical craft in a team environment.
			</p>
		</div>

		<div class="col-md-6 col-sm-6">
			<img class="value-icon" src="assets/icons/best.png" />
			<h3>only the best for the best</h3>
			<p>
				Pro-bono work doesn't need to mean bad work. We treat all of our projects with care and integrity.
			</p>
		</div>

		<div class="col-md-6 col-sm-6">
			<img class="value-icon" src="assets/icons/culture.png" />
			<h3>culture is key</h3>
			<p>
				We're a team that cares about each other as much as we care about the causes we're building for.
			</p>
		</div>
	</div>
</section>

<section id="team-section">
	<div class="container">
		<h2>
			<div class="horizontal-line">team</div>
		</h2>
		<div class="col-md-3 col-sm-4">
			<img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fluisa.jpg?alt=media&token=4ec4850e-eb16-4eff-acca-a03f91e2e63b">
			<p class="name">Luisa San Martin</p>
			<p class="title">co-president</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fkat.jpg?alt=media&token=dfc087da-03d6-461d-81cf-d76434a4e132">
			<p class="name">Kat Crisostomo</p>
			<p class="title">co-president</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fjohn.jpg?alt=media&token=c3cf3507-d01c-4039-ad7e-8cd1b64e3554">
			<p class="name">John Salaveria</p>
			<p class="title">external VP</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fbrianna.jpg?alt=media&token=e6669a06-0fcc-47f8-afb6-6915d21881a6">
			<p class="name">Brianna Hugh</p>
			<p class="title">internal VP</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fchris.jpg?alt=media&token=2dfaf226-5f73-473c-95fc-ab85b16a790d">
			<p class="name">Christopher Luc</p>
			<p class="title">VP of technology</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fsite.jpg?alt=media&token=5e8367de-f59e-43cb-a277-2890519c5514">
			<p class="name">Si Te Feng</p>
			<p class="title">VP of projects</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fjenny.jpg?alt=media&token=f24180b2-9d9d-4409-b593-097f4511d598">
			<p class="name">Jenny Wen</p>
			<p class="title">design director</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fkai.jpg?alt=media&token=029d17c9-c1ab-4b81-839c-50dee949edb3">
			<p class="name">Kaivalya Gandhi</p>
			<p class="title">project lead</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fnick.jpg?alt=media&token=bb0da7e9-f949-4d9c-8268-07b2061b7260">
			<p class="name">Nicholas Kam</p>
			<p class="title">project developer</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fcarol.jpg?alt=media&token=a00682d8-f0cd-439b-b6ad-4c98eb9a036c">
			<p class="name">Carol Yao</p>
			<p class="title">project developer</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Femily.jpg?alt=media&token=1e676974-91da-4e50-8f51-e388b31d6879">
			<p class="name">Emily Ki</p>
			<p class="title">project developer</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fjoey.jpg?alt=media&token=ecf191d6-76ed-44c6-80f8-a3cb90dccbc4">
			<p class="name">Joey Loi</p>
			<p class="title">mentor</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fdinah.jpg?alt=media&token=4611b98b-af07-4cf4-a11e-47210be720e2">
			<p class="name">Dinah Shi</p>
			<p class="title">project developer</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fbryan.jpg?alt=media&token=2f9ff79f-7a20-4eaa-9046-38af94cd0f7c">
			<p class="name">Bryan Cho</p>
			<p class="title">project developer</p>
		</div>
		<div class="col-md-3 col-sm-4">
			<img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fayush.jpg?alt=media&token=103e06d0-c230-4b77-9327-b4e8f7c0347d">
			<p class="name">Ayush Bhagat</p>
			<p class="title">project developer</p>
		</div>
	</div>
</section>
<section id="contact-section">
	<div id="section-triangle3"></div>
	<div class="container">
		<h2>
			<div class="horizontal-line">contact</div>
		</h2>
		<div class="col-md-8 col-sm-10">
			<p>UW Blueprint is looking for non-profits who are in need of technological solutions, as well as partners interested in
				sponsoring UW Blueprint.</p>
			<a class="desktop" href="mailto:uwblueprint@gmail.com">EMAIL UWBLUEPRINT@GMAIL.COM</a>
			<a class="mobile" href="mailto:uwblueprint@gmail.com">EMAIL UWBLUEPRINT</a>
		</div>
	</div>
</section>