<header>
  <header-nav class="u-display-block"></header-nav>
  <div class="container">
    <div class="row">
      <img class="logo u-margin-right-15" src="assets/logos/bp_small_white_2x.png" />
      <div class="logo-text logo-text-lg">
        <h1>Blueprint</h1>
        <div>Tech for nonprofits, built by uWaterloo students.</div>
      </div>
    </div>
  </div>
  <div id="section-triangle"></div>
</header>

<section id="about-section">
  <div class="container">
    <h1 class="u-margin-bottom-30">about</h1>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 emphasis-text u-margin-bottom-30">
        Blueprint strives to make technology accessible and useful for those who create communities and promote public welfare
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12">
        <p>UW Blueprint is a group of students at the University of Waterloo dedicated to building technology for social good.
          We partner with non-profits to provide technology services such as websites, mobile applications, analysis tools&mdash;free
          of charge.</p>
        <p>Blueprint was founded in 2013 at UC Berkeley. The University of Waterloo is Blueprint's first chapter outside of
          Berkeley.</p>
      </div>
      <div class="col-md-5 col-sm-5 col-xs-11">
        <img src="assets/logos/uw_logo.png" />
      </div>
    </div>

  </div>
</section>

<section id="values-section">
  <div id="section-triangle2"></div>

  <div class="container">
    <h1>values</h1>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img class="value-icon" src="assets/icons/good.png" />
        <h2 class="uppercase">Do good for good</h2>
        <p>
          Projects are chosen to help social causes where technology as a solution makes sense.
        </p>
      </div>

      <div class="col-md-6 col-sm-6">
        <img class="value-icon" src="assets/icons/learning.png" />
        <h2 class="uppercase">learning is a team sport</h2>
        <p>
          Blueprint supports students to learn from each other, and hone in on their technical craft in a team environment.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-6">
        <img class="value-icon" src="assets/icons/best.png" />
        <h2 class="uppercase">only the best for the best</h2>
        <p>
          Pro-bono work doesn't need to mean bad work. We treat all of our projects with care and integrity.
        </p>
      </div>

      <div class="col-md-6 col-sm-6">
        <img class="value-icon" src="assets/icons/culture.png" />
        <h2 class="uppercase">culture is key</h2>
        <p>
          We're a team that cares about each other as much as we care about the causes we're building for.
        </p>
      </div>
    </div>

  </div>
  <div id="section-triangle3"></div>
</section>

<section id="contact-section">
  <div class="container u-padding-bottom-70">
    <h1>contact</h1>

    <div class="row">
      <div class="col-md-8 col-sm-10">
        <p>UW Blueprint is looking for non-profits who are in need of technological solutions, as well as partners interested
          in sponsoring UW Blueprint.</p>
        <a class="button-primary desktop uppercase" href="mailto:hello@uwblueprint.org">Email hello@uwblueprint.org</a>
        <a class="button-primary mobile uppercase" href="mailto:hello@uwblueprint.org">Email UWBlueprint</a>
      </div>
    </div>

  </div>
</section>