<header>
  <header-nav class="u-display-block"></header-nav>
  <div class="container container-lg u-margin-top-30">
     <div class="logo-text">
        <h1>students</h1>
        <div class="u-margin-bottom-30">We are looking for talented University of Waterloo students who are motivated to empower nonprofits with their skills and abilities for social good.</div>
        <div>
          <a class="button-secondary uppercase" [routerLink]="['/students/application']">Apply as a student</a>
        </div>
     </div>
  </div>
  <div id="section-triangle"></div>
</header>

<section id="criteria-section">
  <div class="container">
    <div class="row u-margin-bottom-30">
      <h1>decision criteria</h1>
    </div>
    <div class="row">
      <div>We want to help as many organizations as possible. Unfortunately, we do not have the capacity to accept every project due to our limited resources. These are the primary criteria we use to determine project fit:</div>
    </div>
    <div class="row"> 
      <h2 class="uppercase">1. Impact</h2>
      <div>How much will the project impact the community? We prefer projects that will provide the maximal benefit to the target community.</div>
    </div>
    <div class="row"> 
      <h2 class="uppercase">2. Necessity</h2>
      <div>How vital is the project to the non-profit organization, and does the organization have other means to complete the project? We want to ensure that we are helping organizations that truly need our services.</div> 
    </div>
    <div class="row">
      <h2 class="uppercase">3. Scope</h2>
      <div>Is completing the project feasible within our timeline? We want to ensure that we can finish the project and deliver quality results by then end of our development cycle.</div>
    </div>
    <div class="row">
      <h2 class="uppercase">4. Technical Fit</h2>
      <div>Is the project technically challenging and fit well with our team's areas of expertise?</div>
    </div>
    <div class="row">
      <h2 class="uppercase">5. Credibility</h2>
      <div>Is it clear that the project will have an impact? We like to see evidence that supports this!</div> 
    </div>
  </div>
</section>

<section id="timeline-section">
  <div id="section-triangle2"></div>

  <div class="container u-padding-bottom-70">
    <div class="row">
      <h1>process</h1>
    </div>
    <div class="row">
      <div class="phase-marker">
        <div class="circular shadow"></div>
        <div class="circular">
          <h2>1</h2>
        </div>
      </div>
      <div class="phase-description">
        <h2 class="uppercase">Step 1</h2>
        <div class="emphasis-text">Submit your application</div>
        <p>
          Tell us a little bit about yourself and why you're interested in joining Blueprint.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="phase-marker">
        <div class="circular shadow"></div>
        <div class="circular">
          <h2>2</h2>
        </div>
      </div>
      <div class="phase-description">
        <h2 class="uppercase">Step 2</h2>
        <div class="emphasis-text">We view your application</div>
        <p>
          We make sure to go through every application that we receive for joining the Blueprint team. Once we have made a decision, we will send you an email with details about next steps. 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="phase-marker">
        <div class="circular shadow"></div>
        <div class="circular">
          <h2>3</h2>
        </div>
      </div>
      <div class="phase-description">
        <h2 class="uppercase">Step 3</h2>
        <div class="emphasis-text">Coffee chat with one of us!</div>
        <p>
          Let's grab coffee! Here, we will take some time to learn more about you and do some quick assessments of your technical abilities. You can also take this time to ask us any questions you might have!
        </p>
      </div>
    </div>
    <div class="row u-margin-bottom-30">
      <div class="phase-marker">
        <div class="circular shadow"></div>
        <div class="circular">
          <h2>4</h2>
        </div>
      </div>
      <div class="phase-description">
        <h2 class="uppercase">Step 4</h2>
        <div class="emphasis-text">Online interview (Developers only)</div>
        <p>
          The last step of the process is to assess your technical abilities at a deeper level. We will ask you questions that are specific to topics that you feel most strongly in or have the most prior experience in. 
        </p>
      </div>
    </div>
    <div class="row u-margin-bottom-30">
      <div class="phase-marker">
        <div class="circular shadow"></div>
        <div class="circular">
          <h2>5</h2>
        </div>
      </div>
      <div class="phase-description">
        <h2 class="uppercase">Step 5</h2>
        <div class="emphasis-text">Offer!</div>
        <p>
          Congrats! You made it. Within a few days of your online interview, we will contact you by email to send you an offer. Here, we will outline the details of your project, ask you for your username preference, and request some sizes from you for some Blueprint swag!
        </p>
      </div>
    </div>
  </div>
  <div id="section-triangle3"></div>
</section>

<section class="u-padding-bottom-70" id="faq-section">
  <div class="container">
    <div class="u-margin-bottom-50">
      <div class="row">
        <h1>faq</h1>
      </div>
      <div class="row">
        <h2 class="uppercase">What can I expect by being a part of Blueprint?</h2>
        <div>
          At the very least, you can expect to make new friends, to be constantly challenged with new technical problems, and be a part of a tight-knit team that is making a difference.
        </div>
      </div>
      <div class="row">
        <h2 class="uppercase">I don't have a lot of experience in software development. Should I still apply?</h2>
        <div>
          Yes! Blueprint is a great way to gain more experience as a software developer. You will be surrounded by peers that are willing to help you at every step of the way. As a team, we care deeply about your ability to learn and your passion for social good -- less so about past experience.
        </div>
      </div>
    </div>
    <div class="u-margin-bottom-15 row">
      <h1>apply</h1>
    </div>
    <div class="row">
      <div class="u-margin-bottom-30">If you are a University of Waterloo student that fit the above criteria, please apply to join us! We will work hard to get back to you as soon as possible. We look forward to hearing from you!</div>
      <a class="button-primary uppercase" [routerLink]="['application']">Apply as a student</a>
    </div>
  </div>
</section>
