<header>
  <header-nav class="u-display-block"></header-nav>
  <div class="container container-lg u-margin-top-30">
     <div class="logo-text">
        <h1>students</h1>
        <div class="u-margin-bottom-30">We are looking for talented and passionate University of Waterloo students who are motivated to empower nonprofits with their technical abilities for social good.</div>
        <div>
          <a class="button-secondary uppercase" [routerLink]="['/students/application']">Apply as a student</a>
        </div>
     </div>
  </div>
  <div id="section-triangle"></div>
</header>

<section id="criteria-section">
  <div class="container">
    <div class="row u-margin-bottom-30">
      <h1>what we look for</h1>
    </div>
    <div class="row">
      <div>
        We believe in transparency - especially when it comes to what we look for in Blueprint members. Being transparent about our criteria ensures that our community maintains the genuine and passionate culture that helps us create successful projects. Here is what we value most when considering candidates.
      </div>
    </div>
    <div class="row"> 
      <h2 class="uppercase">1. Passion for social good</h2>
      <div>How passionate are you about working for social good? Do you have prior volunteering experience? Is there a specific project for social good that you are particularly interested in?</div>
    </div>
    <div class="row"> 
      <h2 class="uppercase">2. Drive to learn</h2>
      <div>Are you willing to learn new things, both technically and in terms of social good? Do you like to challenge yourself with problems that you've never solved before?</div>
    </div>
    <div class="row">
      <h2 class="uppercase">3. Commitment</h2>
      <div>Can you show that you are able to commit your time and effort to the club? Do you have the capacity to handle extra curricular activities?</div>
    </div>
    <div class="row">
      <h2 class="uppercase">4. Technical Fit</h2>
      <div>Do you have experience that is relevant to the project that you are interested in? If not, are you technically capable of learning to make sure you can make significant contributions?</div>
    </div>
  </div>
</section>

<section id="timeline-section">
  <div id="section-triangle2"></div>

  <div class="container u-padding-bottom-70">
    <div class="row">
      <h1>process</h1>
    </div>
    <div class="row">
      <div class="phase-marker">
        <div class="circular shadow"></div>
        <div class="circular">
          <h2>1</h2>
        </div>
      </div>
      <div class="phase-description">
        <h2 class="uppercase">Step 1</h2>
        <div class="emphasis-text">Submit your application</div>
        <p>
          Tell us a little bit about yourself and why you're interested in joining Blueprint.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="phase-marker">
        <div class="circular shadow"></div>
        <div class="circular">
          <h2>2</h2>
        </div>
      </div>
      <div class="phase-description">
        <h2 class="uppercase">Step 2</h2>
        <div class="emphasis-text">We view your application</div>
        <p>
          We make sure to go through every application that we receive for joining the Blueprint team. Once we have made a decision, we will send you an email with details about next steps. 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="phase-marker">
        <div class="circular shadow"></div>
        <div class="circular">
          <h2>3</h2>
        </div>
      </div>
      <div class="phase-description">
        <h2 class="uppercase">Step 3</h2>
        <div class="emphasis-text">Coffee chat with one of us!</div>
        <p>
          Let's grab coffee! This will be a casual two-way conversation between you and one of our members. We will take some time to learn more about you and you can also take this time to ask us any questions you might have!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="phase-marker">
        <div class="circular shadow"></div>
        <div class="circular">
          <h2>4</h2>
        </div>
      </div>
      <div class="phase-description">
        <h2 class="uppercase">Step 4</h2>
        <div class="emphasis-text">Interview</div>
        <p>
          The last step of the process is to assess your technical abilities at a deeper level. We will ask you questions that are specific to topics that you feel most strongly in or have the most prior experience in. 
        </p>
      </div>
    </div>
    <div class="row">
      <div class="phase-marker">
        <div class="circular shadow"></div>
        <div class="circular">
          <h2>5</h2>
        </div>
      </div>
      <div class="phase-description">
        <h2 class="uppercase">Step 5</h2>
        <div class="emphasis-text">Offer!</div>
        <p>
          Congrats! You made it. Within a few days of your online interview, we will contact you by email to send you an offer. Here, we will outline the details of your project, ask you for your username preference, and request some sizes from you for some Blueprint swag!
        </p>
      </div>
    </div>
  </div>
  <div id="section-triangle3"></div>
</section>

<section id="faq-section">
  <div class="container">
    <div class="u-margin-bottom-50">
      <div class="row">
        <h1>faq</h1>
      </div>
      <div class="row">
        <h2 class="uppercase">What can I expect by being a part of Blueprint?</h2>
        <div>
          At the very least, you can expect to make new friends, to be constantly challenged with new technical problems, and be a part of a tight-knit team that is making a difference.
        </div>
      </div>
      <div class="row">
        <h2 class="uppercase">I don't have a lot of experience in software development. Should I still apply?</h2>
        <div>
          Yes! Blueprint is a great way to gain more experience as a software developer. You will be surrounded by peers that are willing to help you at every step of the way. As a team, we care deeply about your ability to learn and your passion for social good -- less so about past experience.
        </div>
      </div>
    </div>
  </div>
  <div id="section-triangle4"></div>
</section>

<section class="u-padding-bottom-70" id="apply-section">
  <div class="container u-padding-bottom-70">
    <div class="row">
      <h1>open positions</h1>
    </div>

    <div class="row">
      <h2 class="uppercase">Project Developer</h2>
      <p>A  project developer works on a specific project for a non-profit, led by a team lead. This role is centered around software development along with contributions to product and UI design.</p>
    </div>

    <div class="row">
      <h2 class="uppercase">Project Developer (Mentor)</h2>
      <p>A project developer mentor is expected to perform the same duties as a project developer with the additional responsibility of mentoring an inexperienced developer. This can include (but is not limited to) onboarding, training, and pair programming.</p>
    </div>

    <div class="row">
      <h2 class="uppercase">Project Lead</h2>
      <p>A project lead is responsible for planning and building the project roadmap to guide the developers in getting the project done. Creating and assigning tasks, mapping out priorities, giving time estimates, keeping track of progress, and following up with team members are examples of tasks that a project lead is expected to carry out.</p>
    </div>

    <div class="row u-margin-bottom-30">
      <h2 class="uppercase">External VP</h2>
      <p>The External VP is primarily responsible for cultivating our brand and external image. Managing our social media accounts and external relations, as well as planning any events that are open to the general public are some examples tasks that the External VP would be responsible for.</p>
  </div>

    <div class="row">
      <a class="button-primary mobile uppercase" [routerLink]="['/students/application']">Apply to join Blueprint</a>
    </div>
  </div>
</section>
