<div class="container">
  <div class="row u-margin-bottom-30">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2 style="letter-spacing: 1; line-height: 1em; height: auto; margin-bottom: 10px;">Student Application</h2>
      <p>Thanks for your interest in UW Blueprint! We are always looking for UW students to take part in our club activities and join our talented team.</p>
      <p>We are looking for the following positions:</p>
      <h3>Project developer</h3>
      <p>A project developer works on a specific project for a non-profit, led by a team lead. This includes mostly dev work, and potentially some architecture design, and/or visual design.</p> 
      <h3>Project developer (mentor)</h3>
      <p>A project developer who is also a mentor has the same duties as a project developer, but in addition, they pair program with an inexperienced developer.</p>
      <h3>Project lead</h3>
      <p>A project lead is responsible for organizing other team members and getting the project done. This can include creating tasks, assigning priorities and giving time estimates, or just following up with team members to make sure work is on track.</p>
    </div>
  </div>
  <form class="form-group student-application" 
        [formGroup]="studentApplicationForm" 
        (submit)="submitForm($event)">
    <h4>Basic information</h4>
    <div class="row">
      <div class="col-sm-6 col-md-6"
           [ngClass]="{ 
            'invalid': 
              !studentApplicationForm.controls['firstName'].valid &&
              studentApplicationForm.controls['firstName'].touched
            }">
        <label for="firstName">First Name*</label>
        <input id="firstName" 
               type="text" 
               formControlName="firstName" 
               placeholder="e.g. John, Jane">
      </div>
      <div class="col-sm-6 col-md-6"
           [ngClass]="{ 
            'invalid': 
              !studentApplicationForm.controls['lastName'].valid &&
              studentApplicationForm.controls['lastName'].touched
            }">
        <label for="lastName">Last Name*</label>
        <input id="lastName" 
               type="text" 
               formControlName="lastName" 
               placeholder="e.g. Smith">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12"
           [ngClass]="{ 
            'invalid': 
              !studentApplicationForm.controls['email'].valid &&
              studentApplicationForm.controls['email'].touched
            }">
        <label for="email">Email*</label>
        <input id="email"
               type="email"
               formControlName="email"
               placeholder="e.g. example@domain.com"
               appValidateEmail>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6"
           [ngClass]="{ 
            'invalid': 
              !studentApplicationForm.controls['program'].valid &&
              studentApplicationForm.controls['program'].touched
            }">
        <label for="program">Program*</label>
        <input id="program"
               type="text"
               formControlName="program"
               placeholder="e.g. Computer Science, Biology">
      </div>
      <div class="col-sm-6 col-md-6"
           [ngClass]="{ 
            'invalid': 
              !studentApplicationForm.controls['academicYear'].valid &&
              studentApplicationForm.controls['academicYear'].touched
            }">
        <label for="academicYear">Academic Year*</label>
        <input id="academicYear"
               type="text"
               formControlName="academicYear"
               placeholder="e.g. 2B, 4A">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12"
           [ngClass]="{ 
            'invalid': 
              !studentApplicationForm.controls['resume'].valid &&
              studentApplicationForm.controls['resume'].touched
            }">
        <label for="resume">Resume</label>
        <input id="resume"
               type="file"
               value="upload"
               #filebtn
               formControlName="resume"
               (change)="uploadResume($event)">
      </div>
    </div>
    <h4>Position preference</h4>
    <p>Please select the positions you are interested in:*</p>
    <div class="row">
      <div *ngFor="let position of positions"
           class="col-sm-4 col-md-4"
           [ngClass]="{ 
            'invalid': 
              !studentApplicationForm.controls['positions'].valid &&
              studentApplicationForm.controls['positions'].touched
            }">
          <label attr.for="{{position.name}}">
            <input type="checkbox"
                   value="{{position.value}}"
                   id="{{position.name}}"
                   formControlName="positions"
                   [(ngModel)]="position.selected"/>
            <span [innerHtml]="position.name"></span>
          </label>
      </div> 
    </div>
    <h4>Short answers</h4>
    <p>Please answer the following questions in 1 or 2 sentences. It's okay if you don't have an answer for every question!</p>
    <div *ngFor="let q of shortAnswers; let i = index" 
         class="row">
      <div class="col-sm-12 col-md-12"
           [ngClass]="{ 
            'invalid': 
              !studentApplicationForm.controls['question' + (i + 1)].valid &&
              studentApplicationForm.controls['question' + (i + 1)].touched
            }">
        <label attr.for="{{ 'question' + (i + 1) }}">{{q.question}}</label>
        <textarea id="{{ 'question' + (i + 1) }}" 
                  formControlName="{{ 'question' + (i + 1) }}" 
                  placeholder="{{q.placeholder}}"
                  [(ngModel)]="q.answer"></textarea>
      </div>
    </div>
    <div class="row u-text-align-right u-padding-right-15">
      <div> 
        <button class="btn btn-default btn-lg" 
                type="submit"
                [disabled]="!studentApplicationForm.valid">Apply</button>
      </div>
    </div>
  </form>
</div>
