<div class="container">
  <div class="row u-margin-bottom-30">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <h1 class="u-margin-bottom-15">student application</h1>
      </div>
      <div class="row">
        <p>Thanks for your interest in UW Blueprint! We are always looking for UW students to take part in our club activities and join our talented team.</p>
        <p>We are looking to fill the following positions:</p>
      </div>
      <div class="row">
        <div class="emphasis-text u-color-blueprint-blue">Project developer</div>
        <p>A project developer works on a specific project for a non-profit, led by a team lead. This role is centered around software development along with contributions to product and UI design.</p>
      </div>
      <div class="row">
        <div class="emphasis-text u-color-blueprint-blue">Project developer (mentor)</div>
        <p>A project developer mentor is expected to perform the same duties as a project developer with the additional responsibility of mentoring an inexperienced developer. This can include (but is not limited to) onboarding, training, and pair programming.</p>
      </div>
      <div class="row">
        <div class="emphasis-text u-color-blueprint-blue">Project lead</div>
        <p>A project lead is responsible for planning and building the project roadmap to guide the developers in getting the project done. Creating and assigning tasks, mapping out priorities, giving time estimates, keeping track of progress, and following up with team members are examples of tasks that a project lead is expected to carry out.</p>
      </div>
      <div class="row">
        <div class="emphasis-text u-color-blueprint-blue">VP External</div>
        <p>The VP External is primarily responsible for cultivating our brand and external image. Managing our social media accounts and external relations, as well as planning any events that are open to the general public are some examples tasks that the VP External would be responsible for.</p>
      </div>
    </div>
  </div>
  <form class="form-group student-application" 
        [formGroup]="studentApplicationForm" 
        (submit)="submitForm($event)">
    <div class="row">
      <h2 class="uppercase">Basic information</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 u-margin-bottom-25 u-padding-right-only-10"
           [ngClass]="{ 
            'invalid': 
              !studentApplicationForm.controls['firstName'].valid &&
              studentApplicationForm.controls['firstName'].touched
            }">
        <label for="firstName">First Name*</label>
        <input id="firstName" 
               type="text" 
               formControlName="firstName" 
               placeholder="e.g. John, Jane">
        <small *ngIf="!studentApplicationForm.controls['firstName'].valid &&
                      studentApplicationForm.controls['firstName'].touched">Required.</small>
      </div>
      <div class="col-sm-6 col-md-6 u-margin-bottom-25 u-padding-right-only-10"
           [ngClass]="{ 
            'invalid': 
              !studentApplicationForm.controls['lastName'].valid &&
              studentApplicationForm.controls['lastName'].touched
            }">
        <label for="lastName">Last Name*</label>
        <input id="lastName" 
               type="text" 
               formControlName="lastName" 
               placeholder="e.g. Smith">
        <small *ngIf="!studentApplicationForm.controls['lastName'].valid &&
                      studentApplicationForm.controls['lastName'].touched">Required.</small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 u-margin-bottom-25 u-padding-right-only-10"
           [ngClass]="{ 
            'invalid': 
              !studentApplicationForm.controls['email'].valid &&
              studentApplicationForm.controls['email'].touched
            }">
        <label for="email">Email*</label>
        <input id="email"
               type="email"
               formControlName="email"
               placeholder="e.g. example@domain.com"
               appValidateEmail>
        <small *ngIf="!studentApplicationForm.controls['email'].valid &&
                      studentApplicationForm.controls['email'].touched">Required. Please enter your email in 'example@domain.com' format.</small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 u-margin-bottom-25 u-padding-right-only-10"
           [ngClass]="{ 
            'invalid': 
              !studentApplicationForm.controls['program'].valid &&
              studentApplicationForm.controls['program'].touched
            }">
        <label for="program">Program*</label>
        <input id="program"
               type="text"
               formControlName="program"
               placeholder="e.g. Computer Science, Biology">
        <small *ngIf="!studentApplicationForm.controls['program'].valid &&
                      studentApplicationForm.controls['program'].touched">Required.</small>
      </div>
      <div class="col-sm-6 col-md-6 u-margin-bottom-25 u-padding-right-only-10"
           [ngClass]="{ 
            'invalid': 
              !studentApplicationForm.controls['academicYear'].valid &&
              studentApplicationForm.controls['academicYear'].touched
            }">
        <label for="academicYear">Academic Year*</label>
        <input id="academicYear"
               type="text"
               formControlName="academicYear"
               placeholder="e.g. 2B, 4A">
        <small *ngIf="studentApplicationForm.controls['academicYear'].hasError('required') &&
                      studentApplicationForm.controls['academicYear'].touched">Required.</small>
        <small *ngIf="studentApplicationForm.controls['academicYear'].hasError('pattern') &&
                      studentApplicationForm.controls['academicYear'].touched">Please enter your academic year in the correct format: e.g. 2B, 4A.</small>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 u-margin-bottom-25 u-padding-right-only-10"
           [ngClass]="{ 
            'invalid': 
              !studentApplicationForm.controls['resume'].valid &&
              studentApplicationForm.controls['resume'].touched
            }">
        <label for="resume">Resume</label>
        <input id="resume"
               type="file"
               value="upload"
               #filebtn
               formControlName="resume"
               (change)="uploadResume($event)">
      </div>
    </div>
    <div class="row">
      <h2 class="uppercase">Position preference</h2>
      <p>Please select the positions you are interested in:*</p>
    </div>
    <div class="row">
      <div *ngFor="let position of positions"
           class="col-sm-4 col-md-4 u-margin-bottom-25 u-padding-right-only-10"
           [ngClass]="{ 
            'invalid': 
              !studentApplicationForm.controls['positions'].valid &&
              studentApplicationForm.controls['positions'].touched
            }">
          <label attr.for="{{position.name}}">
            <input type="checkbox"
                   value="{{position.value}}"
                   id="{{position.name}}"
                   formControlName="positions"
                   [(ngModel)]="position.selected"/>
            <span class="u-color-black" [innerHtml]="position.name"></span>
          </label>
      </div> 
      <small *ngIf="!studentApplicationForm.controls['positions'].valid &&
                    studentApplicationForm.controls['positions'].touched">Required. Please select at least one option.</small>
    </div>
    <div class="row">
      <h2 class="uppercase">Short answers</h2>
      <p>Please answer the following questions in 1 or 2 sentences. It's okay if you don't have an answer for every question!</p>
    </div>
    <div *ngFor="let q of shortAnswers; let i = index" 
         class="row">
      <div class="col-sm-12 col-md-12 u-margin-bottom-25 u-padding-right-only-10"
           [ngClass]="{ 
            'invalid': 
              !studentApplicationForm.controls['question' + (i + 1)].valid &&
              studentApplicationForm.controls['question' + (i + 1)].touched
            }">
        <label attr.for="{{ 'question' + (i + 1) }}">{{q.question}}</label>
        <textarea id="{{ 'question' + (i + 1) }}" 
                  formControlName="{{ 'question' + (i + 1) }}" 
                  placeholder="{{q.placeholder}}"
                  [(ngModel)]="q.answer"></textarea>
        <small *ngIf="!studentApplicationForm.controls['question' + (i + 1)].valid &&
                      studentApplicationForm.controls['question' + (i + 1)].touched">Required.</small>
      </div>
    </div>
    <div class="row u-padding-right-only-10 u-text-align-right">
      <button class="btn btn-default btn-lg"
              type="submit"
              [disabled]="!studentApplicationForm.valid">Apply</button>
    </div>
  </form>
</div>
