<header>
  <header-nav class="u-display-block"></header-nav>
  <div class="container container-lg u-margin-top-30">
     <div class="logo-text">
        <h1>team</h1>
        <div>Meet Blueprint - we're a group of friendly folks at the University of Waterloo dedicated to building technology for the greater good.</div>
     </div>
  </div>
  <div id="section-triangle"></div>
</header>

<section id="team-section">
  <div class="container">
    <div class="u-margin-bottom-30">
      <h1>meet the team</h1>
      <div>Even though we're building technology, we're a diverse group of students specializing in a variety of disciplines, brought together by a common ambition to help non-profits with their technology needs.</div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fluisa.jpg?alt=media&token=4ec4850e-eb16-4eff-acca-a03f91e2e63b">
        <p class="name">Luisa San Martin</p>
        <p class="title">president</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fchris.jpg?alt=media&token=2dfaf226-5f73-473c-95fc-ab85b16a790d">
        <p class="name">Christopher Luc</p>
        <p class="title">VP operations</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fjessica.jpg?alt=media&token=bffa962d-16dd-4be3-9717-bd09227c9ead">
        <p class="name">Jessica Tam</p>
        <p class="title">VP internal</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fmus.jpg?alt=media&token=9985f1d6-f20b-44d2-bc06-3176c3c28ea2">
        <p class="name">Mustaqeem Khowaja</p>
        <p class="title">VP projects</p>
      </div> 
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fjohn.jpg?alt=media&token=c3cf3507-d01c-4039-ad7e-8cd1b64e3554">
        <p class="name">John Salaveria</p>
        <p class="title">design director</p>
      </div> 
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fkai.jpg?alt=media&token=029d17c9-c1ab-4b81-839c-50dee949edb3">
        <p class="name">Kaivalya Gandhi</p>
        <p class="title">project manager</p>
      </div> 
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fcarol.jpg?alt=media&token=a00682d8-f0cd-439b-b6ad-4c98eb9a036c">
        <p class="name">Carol Yao</p>
        <p class="title">project developer</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fdinah.jpg?alt=media&token=4611b98b-af07-4cf4-a11e-47210be720e2">
        <p class="name">Dinah Shi</p>
        <p class="title">project developer</p>
      </div> 
    </div>

    <div class="row"> 
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Femily.jpg?alt=media&token=1e676974-91da-4e50-8f51-e388b31d6879">
        <p class="name">Emily Ki</p>
        <p class="title">project developer</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fayush.jpg?alt=media&token=103e06d0-c230-4b77-9327-b4e8f7c0347d">
        <p class="name">Ayush Bhagat</p>
        <p class="title">project developer</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fhk.jpg?alt=media&token=c93c9217-a80a-4a05-91ee-9c18b478f28a">
        <p class="name">Hanumanth Kumar</p>
        <p class="title">project developer</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fbryan.jpg?alt=media&token=2f9ff79f-7a20-4eaa-9046-38af94cd0f7c">
        <p class="name">Bryan Cho</p>
        <p class="title">project developer</p>
      </div>
    </div>
 
    <div class="row"> 
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fsteven.jpg?alt=media&token=19ce5587-b098-47d1-9955-66590235c7e2">
        <p class="name">Steven Jia</p>
        <p class="title">project lead</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fcharlie.jpg?alt=media&token=a1912d2d-dec2-4a5f-88d6-e27925ed6b81">
        <p class="name">Charlie Yang</p>
        <p class="title">project developer</p>
      </div>
    </div>

    <div class="u-margin-bottom-30">
      <h1>alumni</h1>
      <div>Special thanks to all of our alumni who have given their time and effort to our cause for social good. We couldn't have done it without you!</div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fkat.jpg?alt=media&token=dfc087da-03d6-461d-81cf-d76434a4e132">
        <p class="name">Kat Crisostomo</p>
        <p class="title">co-president</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fbrianna.jpg?alt=media&token=e6669a06-0fcc-47f8-afb6-6915d21881a6">
        <p class="name">Brianna Hugh</p>
        <p class="title">VP internal</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fsite.jpg?alt=media&token=5e8367de-f59e-43cb-a277-2890519c5514">
        <p class="name">Si Te Feng</p>
        <p class="title">VP projects</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fjenny.jpg?alt=media&token=f24180b2-9d9d-4409-b593-097f4511d598">
        <p class="name">Jenny Wen</p>
        <p class="title">design director</p>
      </div>
    </div>

    <div class="row"> 
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fnick.jpg?alt=media&token=bb0da7e9-f949-4d9c-8268-07b2061b7260">
        <p class="name">Nicholas Kam</p>
        <p class="title">project developer</p>
      </div>
    </div>
  </div>
</section>
