<header>
  <div class="container container-lg">
    <ul class="navigation-bar">
      <li class="navigation-section logo-link">
        <a [routerLink]="['']">
          <img class="logo-small u-margin-right-15" src="assets/logos/bp_small_white_2x.png"/>
          <div class="logo-text-small">
            <h1>Blueprint</h1>
          </div>
        </a>
      </li> 
      <li class="navigation-section primary">
        <a class="nav-link" [routerLink]="['/projects']"><h2>Projects</h2></a>
        <a class="nav-link" [routerLink]="['/nonprofits']"><h2>Nonprofits</h2></a>
        <a class="nav-link" [routerLink]="['/students']"><h2>Students</h2></a>
        <a class="nav-link" [routerLink]="['/blog']"><h2>Blog</h2></a>
        <a class="nav-link" [routerLink]="['/team']"><h2>Team</h2></a>
      </li>
    </ul> 
  </div>
  <div class="container container-lg u-margin-top-30">
     <div class="logo-text">
        <h1>team</h1>
        <div>Meet Blueprint - we're a group of friendly folks at the University of Waterloo dedicated to using technology for the greater good.</div>
     </div>
  </div>
  <div id="section-triangle"></div>
</header>

<section id="team-section">
  <div class="container">
    <div class="u-margin-bottom-30">
      <h1>meet the team</h1>
      <div>Even though we're building technology, we're a diverse group of students specializing in a variety of disciplines, brought together by a common ambition to help non-profits with their technology needs.</div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fluisa.jpg?alt=media&token=4ec4850e-eb16-4eff-acca-a03f91e2e63b">
        <p class="name">Luisa San Martin</p>
        <p class="title">co-president</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fkat.jpg?alt=media&token=dfc087da-03d6-461d-81cf-d76434a4e132">
        <p class="name">Kat Crisostomo</p>
        <p class="title">co-president</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fjohn.jpg?alt=media&token=c3cf3507-d01c-4039-ad7e-8cd1b64e3554">
        <p class="name">John Salaveria</p>
        <p class="title">external VP</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fbrianna.jpg?alt=media&token=e6669a06-0fcc-47f8-afb6-6915d21881a6">
        <p class="name">Brianna Hugh</p>
        <p class="title">internal VP</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fchris.jpg?alt=media&token=2dfaf226-5f73-473c-95fc-ab85b16a790d">
        <p class="name">Christopher Luc</p>
        <p class="title">VP of technology</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fsite.jpg?alt=media&token=5e8367de-f59e-43cb-a277-2890519c5514">
        <p class="name">Si Te Feng</p>
        <p class="title">VP of projects</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fjenny.jpg?alt=media&token=f24180b2-9d9d-4409-b593-097f4511d598">
        <p class="name">Jenny Wen</p>
        <p class="title">design director</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fkai.jpg?alt=media&token=029d17c9-c1ab-4b81-839c-50dee949edb3">
        <p class="name">Kaivalya Gandhi</p>
        <p class="title">project lead</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fnick.jpg?alt=media&token=bb0da7e9-f949-4d9c-8268-07b2061b7260">
        <p class="name">Nicholas Kam</p>
        <p class="title">project developer</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fcarol.jpg?alt=media&token=a00682d8-f0cd-439b-b6ad-4c98eb9a036c">
        <p class="name">Carol Yao</p>
        <p class="title">project developer</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Femily.jpg?alt=media&token=1e676974-91da-4e50-8f51-e388b31d6879">
        <p class="name">Emily Ki</p>
        <p class="title">project developer</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fjoey.jpg?alt=media&token=ecf191d6-76ed-44c6-80f8-a3cb90dccbc4">
        <p class="name">Joey Loi</p>
        <p class="title">mentor</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fdinah.jpg?alt=media&token=4611b98b-af07-4cf4-a11e-47210be720e2">
        <p class="name">Dinah Shi</p>
        <p class="title">project developer</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fbryan.jpg?alt=media&token=2f9ff79f-7a20-4eaa-9046-38af94cd0f7c">
        <p class="name">Bryan Cho</p>
        <p class="title">project developer</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/uw-blueprint.appspot.com/o/img%2Fprofiles%2Fayush.jpg?alt=media&token=103e06d0-c230-4b77-9327-b4e8f7c0347d">
        <p class="name">Ayush Bhagat</p>
        <p class="title">project developer</p>
      </div>
    </div>

  </div>
</section>

<section id="values-section">
  <div id="section-triangle2"></div>

  <div class="container u-padding-bottom-70">
    <h1>open positions</h1>

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2 class="uppercase">Project Developer</h2>
        <p>
          Projects are chosen to help social causes where technology as a solution makes sense.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2 class="uppercase">Project Developer (Mentor)</h2>
        <p>
          Blueprint supports students to learn from each other, and hone in on their technical craft in a team environment.
        </p>
      </div>
    </div>

    <div class="row u-margin-bottom-30">
      <div class="col-md-12 col-sm-12">
        <h2 class="uppercase">Project Lead</h2>
        <p>
          Pro-bono work doesn't need to mean bad work. We treat all of our projects with care and integrity.
        </p>
      </div>
    </div>

    <div>
      <a class="button-primary mobile uppercase" [routerLink]="['/students/application']">Apply to join Blueprint</a>
    </div>
  </div>
</section>
