@import 'colors'; 
@import 'media-breakpoints';

@font-face {
    font-family: 'Fira Sans Book';
    src: url('../fonts/firasans-book-webfont.woff2') format('woff2'),
         url('../fonts/firasans-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Book';
    src: url('../fonts/firasans-bookitalic-webfont.woff2') format('woff2'),
         url('../fonts/firasans-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/firasans-light-webfont.woff2') format('woff2'),
         url('../fonts/firasans-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/firasans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/firasans-lightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.container {
  width: 90%;
  max-width: 700px;

  @media (min-width: $screen-sm) {
    width: 70%;
  }
}

.container-lg {
  margin: 0 auto;
  width: 85%;
  max-width: 850px;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.circular {
  border: 3px solid $blueprint-blue;
  border-radius: 22px;
  width: 44px;
  height: 44px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  bottom: 25px;
}

.shadow {
  border: none;
  background-color: rgba(0,120,248,0.3);
  position: relative;
  left: 7px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  top: 13px;
}

.circular > h2 {
  margin: 0 auto;
  line-height: 38px;
}

.phase-marker {
  width: 15%;
  float: left;
  display: inline-block;

  @media(max-width: 681px) {
    display: none;
  }
}

.phase-description {
  display: inline-block;
  width: 84%;
  
  @media(max-width: 681px) {
    width: auto;
  }
}

h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 48px;
    font-weight: 200;
    color: $blueprint-blue;
}

h2 {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  color: $blueprint-blue;
}

div, span, p {
  font-family: "Fira Sans Book";
  color: $gray;
  font-size: 18px;
  line-height: 26px;
}

label {
  font-family: "Fira Sans Book";
  color: $black;
  font-size: 14px;
}

.emphasis-text {
  font-family: "Fira Sans", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25em;

  @media (min-width: $screen-sm) {
    font-size: 32px;
  }
}

#section-triangle {
    width: 0;
    height: 0;
    border-bottom: 150px solid #fff;
}

#section-triangle2 {
  width: 0;
  height: 0;
  border-bottom: 150px solid #f7f9ff;
}

#section-triangle3 {
  width: 0;
  height: 0;
  border-bottom: 150px solid #fff;
}

#section-triangle4 {
  width: 0;
  height: 0;
  border-bottom: 150px solid #f7f9ff;
}

.button-primary {
  font-family: "Proxima Nova";
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: normal;
  width: 288px;
  margin-top: 30px;
  margin-bottom: 70px;
  color: #fff;
  background-color: $blueprint-blue;
  padding: 18px;
  border-radius: 6px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out, padding 0.2s ease;
  white-space:nowrap;

  &:hover {
    text-decoration: none;
    background-color: #65a0ff;
  }
}

.button-secondary {
  font-family: "Proxima Nova";
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: normal;
  width: 288px;
  margin-top: 30px;
  margin-bottom: 70px;
  color: #fff;
  background-color: $button-secondary;
  padding: 16px 24px;
  border-radius: 6px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out, padding 0.2s ease;
  white-space:nowrap;

  &:hover {
    text-decoration: none;
    background-color: #2DD7FF;
  }
}

header {
  background: linear-gradient(to right, $blueprint-blue, #00BDFF);
  color: #fff;

  .logo {
    position: relative;
    top: 50px;
    right: 115px;
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
    }
  }

  .logo-text-lg {
    position: relative;
    padding: 0 15px 0 15px;
    bottom: 0;
    top: 40px;

    @media (min-width: $screen-sm) {
      bottom: 50px;
      top: initial;
    }
  }

  .logo-text > h1 {
    color: #fff;
    display: inline-block;
  }

  .logo-text > div {
    color: #fff;
    max-width: 550px;
    font-family: "Fira Sans";
    font-weight: 100;
    font-size: 16px;
  }

  .logo-link {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
  }

  .logo-small {
    position: relative;
    width: 40px;
    height: 40px;
  }

  .logo-text-small {
    display: inline-block;
  }
  
  .logo-text-small > h1 {
    font-size: 18px;
    color: #fff;
  }

  .navigation-bar {
    text-align: right;
    position: relative;
  }

  .navigation-bar > li{
    list-style: none;
  }

  .nav-link {
    margin-left: 24px;
    display: inline-block;
  }

  .nav-link > h2 {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
  }

  .nav-link:hover > h2 {
    color: darken(#FFF, 10%);
  }
}

a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
