.u-padding-right-15 {
  padding-right: 15px;
}

.u-text-align-right {
  text-align: right;
}

.u-margin-bottom-15 {
  margin-bottom: 15px;
}

.u-margin-bottom-20 {
  margin-bottom: 20px;
}

.u-margin-bottom-25 {
  margin-bottom: 25px;
}

.u-margin-bottom-30 {
  margin-bottom: 30px;
}

.u-margin-top-30 {
  margin-top: 30px;
}

.u-padding-1em {
  padding: 1em;
}

.u-padding-bottom-70 {
  padding-bottom: 70px;
}
