<div class="container" *ngFor="let a of application | async">
  <div class="row u-margin-bottom-30">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2 style="letter-spacing: 1; line-height: 1em; height: auto; margin-bottom: 10px;">{{ a.firstName + ' ' + a.lastName }}</h2>
    </div>
  </div>
  <h3>Basic information</h3>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h4>Email</h4>
      <span [innerHtml]='a.email'></span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <h4>Program</h4>
      <span [innerHtml]='a.program'></span>
    </div>
    <div class="col-sm-6 col-md-6">
      <h4>Academic Year</h4>
      <span [innerHtml]='a.academicYear'></span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h4>Resume</h4>
      <a href="{{ a.resumeUrl }}">Link</a>
    </div>
  </div>
  <h4>Position preference</h4>
  <div class="row">
    <ul>
    <li *ngFor="let position of a.positions">
        <span [innerHtml]="position"></span>
    </li> 
    </ul>
  </div>
  <h3>Short answers</h3>
  <div *ngFor="let q of a.questions" 
       class="row u-margin-bottom-30">
    <div class="col-sm-12 col-md-12">
      <h5>{{q.question}}</h5>
      <span [innerHtml]="q.answer"></span>
    </div>
  </div>
</div>
